<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-content fb-row fb-space-between fb-wrap">
      <div class="footer-left">
        <ul>
        <li><a href="#">+1 (415) 680-3099</a></li>
        <li><a href="mailto:support@fastcaptions.cc">nikki.fastcaption@gmail.com</a></li>
        </ul>
      </div> <!-- end footer-left -->
      <div class="footer-right">
        <span class="copyright">Fast Captions &copy; 2017</span>
      </div>
    </div>  
  </div>
</footer>
                                                    
            
            
            
            
            
            