
<!-- ******    Desktop Nav -->
<header class="site-header project-header hidden-sm">
  <div class="wrapper">
    <div class="header-content fb-row fb-space-between">
      <nav class="site-nav-left site-nav">
        <a class="site-title brand-highlight" href="{{ site.baseurl }}/">
            <img src="/img/fast-captions-logo.svg" alt="">
        </a>
      </nav>
      
      <nav class="site-nav-right site-nav">
        <a href="#">+1 (415) 680-3099</a>
        <a href="mailto:support@fastcaptions.cc">support@fastcaption.cc</a>
      </nav>
    </div> <!-- end header-content -->
  </div>
</header>

<!-- ******    Mobile Nav -->
<div class="hidden-lg">
  <header class="site-header cd-header">
      <div class="wrapper">
        <div class="header-content">
          <a class="site-title brand-highlight" href="{{ site.baseurl }}/">
            <img src="/img/fast-captions-logo.svg" alt="">
          </a>
          <div class="nav-trigger-wrap">
            <a class="cd-primary-nav-trigger" href="#0">
              <span class="cd-menu-text"></span><span class="cd-menu-icon"></span>
            </a>
          </div>
        </div>
      </div>
  </header>
<!--   <nav>
    <ul class="cd-primary-nav">
      <li><a href="#">Option 1</a></li>
      <li><a href="#">Option 2</a></li>
      <li><a href="#">Option 3</a></li>
      <li><a href="#">Option 4</a></li>

    </ul>
  </nav> -->
</div>